############################################################################################################################################
## TRACKING ONLY D365FO source model files
############################################################################################################################################

############################################################################################################################################
## No files ignored on the root
############################################################################################################################################
!
!*

############################################################################################################################################
## Users temp folder (e.g., egistry files, temp files, debug folders, upload folders, etc.)
############################################################################################################################################
temp
temp/*
temp/**
**/temp
**/temp/*
**/temp/**
_temp
_temp/*
_temp/**
**/_temp
**/_temp/*
**/_temp/**
_ouput
_ouput/*
_ouput/**
**/_ouput
**/_ouput/*
**/_ouput/**

############################################################################################################################################
## Visual Studio
############################################################################################################################################
.vs
.vs/*
.vs/**
**/.vs
**/.vs/*
**/.vs/**

############################################################################################################################################
## D365FO specifics
############################################################################################################################################
*/[Bb]in/*
*/[Rr]esources/*
*/XppMetadata/*
*/Reports/*
*/BPCheck.xml
*/BuildModelResult.log
*/BuildModelResult.xml
*/BuildModelResult.err.xml
*/BuildProjectResult.log
*/BuildProjectResult.xml
*/BuildProjectResult.err.xml
*/CompileLabels.xml
*.xref
*.$usr
*.version

## UDE
Metadata/XppSource
Metadata/XppSource/**